.hero {
  background-color: #ffbcff;
  background-image: linear-gradient(140deg, #ffbcff 0%, #a6f5ee 100%);
}

#questions {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}